<!DOCTYPE html>
<html>
        <link rel="stylesheet" type="text/css" href="/form.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

		<head>
		  <meta charset="UTF-8">
</head>
<body>


        <img class="logos" src="/img/Careers.png" alt="Imperial">
<div>
  <table>
        <thead>
          <tr>
              <th>personalidad</th>
              <th>Porcentaje</th>
          </tr>
        </thead>

        <tbody>
          <tr><td><%= au%></td><td><%= Math.floor(aup * 100) + "%" %></td></tr>
          <tr><td><%= inar%></td><td><%= Math.floor(inarp * 100) + "%" %></td></tr>
          <tr><td><%= emo%></td><td><%= Math.floor(emoP * 100) + "%"%></td></tr>
          <tr><td><%= ima%></td><td><%= Math.floor(imaP * 100) + "%"%></td></tr>
          <tr><td><%= inte%></td><td><%=  Math.floor(intep * 100) + "%"%></td></tr>
          <tr><td><%= desa%></td><td><%=  Math.floor(desap * 100) + "%"%></td></tr>
          <tr><td><%= nec%></td><td><%=  Math.floor(necP * 100) + "%"%></td></tr>
          <tr><td><%= cau%></td><td><%=  Math.floor(cauP * 100) + "%"%></td></tr>
          <tr><td><%=  o %></td><td><%=  Math.floor( ob1 * 100) + "%"%></td></tr>
          <tr><td><%=  di %></td><td><%=  Math.floor( dis1 * 100) + "%"%></td></tr>
          <tr><td><%=  autodi %></td><td><%=  Math.floor( autodis1 * 100) + "%"%></td></tr>
          <tr><td><%=  autoE %></td><td><%=  Math.floor( autoEf1 * 100) + "%"%></td></tr>
          <tr><td><%=  ac %></td><td><%=  Math.floor( act1 * 100) + "%"%></td></tr>
          <tr><td><%=  se %></td><td><%=  Math.floor( seg1 * 100) + "%"%></td></tr>
          <tr><td><%=  ale %></td><td><%=  Math.floor( aleg1 * 100) + "%"%></td></tr>
          <tr><td><%=  busqe %></td><td><%=  Math.floor( busqem1 * 100) + "%"%></td></tr>
          <tr><td><%=  si %></td><td><%=  Math.floor( sim1 * 100) + "%"%></td></tr>
          <tr><td><%=  socia %></td><td><%=  Math.floor( sociab1 * 100) + "%"%></td></tr>
          <tr><td><%=  altr %></td><td><%=  Math.floor( altru1 * 100) + "%"%></td></tr>
          <tr><td><%=  co %></td><td><%=  Math.floor( coo1 * 100) + "%"%></td></tr>
          <tr><td><%=  mode %></td><td><%=  Math.floor( modes1 * 100) + "%"%></td></tr>
          <tr><td><%=  intrans %></td><td><%=  Math.floor( intransi1 * 100) + "%"%></td></tr>
          <tr><td><%=  compa %></td><td><%=  Math.floor( compas1 * 100) + "%"%></td></tr>
          <tr><td><%=  confianza %></td><td><%=  Math.floor( confianza1 * 100) + "%"%></td></tr>
          <tr><td><%=  vehe %></td><td><%=  Math.floor( vehem1 * 100) + "%"%></td></tr>
          <tr><td><%=  preo %></td><td><%=  Math.floor( preoc1 * 100) + "%"%></td></tr>
          <tr><td><%=  me %></td><td><%=  Math.floor( mel1 * 100) + "%"%></td></tr>
          <tr><td><%=  des %></td><td><%=  Math.floor( desm1 * 100) + "%"%></td></tr>
          <tr><td><%=  ti %></td><td><%=  Math.floor( tim1 * 100) + "%"%></td></tr>
          <tr><td><%=  susTe %></td><td><%=  Math.floor( susTen1 * 100) + "%"%></td></tr>
          
        </tbody>
      </table>

</div>

</body>
</html>
